<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755198588899-61ckhvjrdbbgs3remv921o1fu44hu7rn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755198588899-61ckhvjrdbbgs3remv921o1fu44hu7rn</string>
	<key>API_KEY</key>
	<string>AIzaSyDSLAapPI0Nmc1ijr_42LNKvlVSWQZXCtg</string>
	<key>GCM_SENDER_ID</key>
	<string>755198588899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBurnner</string>
	<key>PROJECT_ID</key>
	<string>flutter-burnner</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-burnner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755198588899:ios:d03513ebace223203392d6</string>
</dict>
</plist>